.button {
    cursor: pointer;
    font-size: var(--font-size-base);
    font-weight: 600;
    letter-spacing: 0.8px;
    border-radius: 6px;
    padding: 0 16px;
    height: 40px;

    &.outlined {
        border: 1px solid;
        background-color: transparent;

        &.accent {
            border-color: #00800088;
            color: #006400b0;

            &:hover {
                background: #00800088;
                color: white;
                border-color: #00800088;
            }
        }

        &.attention {
            border-color: darkred;
            color: red;

            &:hover {
                background-color: var(--color-attention);
                color: var(--color-white);
                border-color: var(--color-attention);
            }
        }
    }

    &.filled {
        border: 1px solid;

        &.accent {
            border-color: #00630088;
            color: rgb(206, 206, 206);
            background: #005e0088;

            &:hover {
                background: #00800088;
                color: white;
                border-color: #00800088;
            }
        }

        &.attention {
            border-color: var(--color-attention);
            color: var(--color-white);
            background-color: var(--color-attention);

            &:hover {
                filter: brightness(90%);
            }
        }
    }

    &.clear {
        border: 0;
        padding: 0;
        background: none;

        &.accent {
            color: var(--color-accent);

            &:hover {
                filter: brightness(90%);
            }
        }

        &.attention {
            color: var(--color-attention);

            &:hover {
                filter: brightness(90%);
            }
        }
    }

    &.inverted {
        border-color: var(--color-white);
        color: var(--color-white);

        &:hover {
            border-color: var(--color-dark-gray);
            color: var(--color-dark-gray);
        }
    }

    &.disabled {
        opacity: 0.5;
        pointer-events: none;
    }
}
