.searchInput {
    height: 100%;
    min-height: 40px;
    margin: auto 0;

    input {
        padding-left: 30px;
    }
}

.inputSearchIcon {
    position: absolute;
    width: 16px;
    height: 16px;
    z-index: 2;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}
